body {
  background-color: rgba(0, 0, 0, 0.35);
}

.container {
  text-align: center;
}

.grid-container {
  display: inline-grid;
  /* \/ temporary \/ */
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* /\ temporary /\ */
  grid-template-columns: repeat(16, auto);
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
}

.canvas {
  margin-top: 5px;
}

.pallete {
  margin-top: 5px;
  grid-template-columns: repeat(13, auto);
}

#size {
  grid-template-columns: repeat(1, auto);
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 1px;
  width: 1px;
}

.color {
  border-radius: 50px;
  margin: 5px;
}

.selectedColor {
  border: 3px solid black;
  box-sizing: border-box;
  margin: 2px
}

input {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}

#size > div > input {
  width: 45px;
  font-size: large;
}

#size > div > label {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
}

#size > div > p {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}